In [1]:
import yfinance as yf

In [9]:
import yfinance as yf

msft = yf.Ticker("BOVA11.SA")
print(msft)

# get stock info
# msft.info

yfinance.Ticker object <BOVA11.SA>

In [10]:
# get historical market data, here max is 5 years.
msft.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2008-11-28,36.595901,36.595901,36.595901,36.595901,0,0,0
2008-12-01,34.744900,34.744900,34.744900,34.744900,0,0,0
2008-12-02,35.001598,35.001598,35.001598,35.001598,0,0,0
2008-12-03,35.293800,35.293800,35.293800,35.293800,0,0,0
2008-12-04,35.122101,35.122101,35.122101,35.122101,0,0,0
...,...,...,...,...,...,...,...
2021-08-02,118.879997,119.800003,117.599998,117.599998,8166341,0,0
2021-08-03,117.790001,119.050003,116.129997,118.730003,6804976,0,0
2021-08-04,118.209999,118.510002,116.379997,116.959999,6511246,0,0
2021-08-05,118.239998,118.889999,116.459999,116.930000,9429835,0,0
2021-08-06,117.400002,118.589996,116.910004,118.230003,3907475,0,0