# Testando bibliotecas

In [13]:
import yfinance as yf

In [2]:
import yfinance as yf

msft = yf.Ticker("BOVA11.SA")
print(msft)

# get stock info
# msft.info

yfinance.Ticker object <BOVA11.SA>

In [3]:
# get historical market data, here max is 5 years.
msft.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2008-11-28,36.595901,36.595901,36.595901,36.595901,0,0,0
2008-12-01,34.744900,34.744900,34.744900,34.744900,0,0,0
2008-12-02,35.001598,35.001598,35.001598,35.001598,0,0,0
2008-12-03,35.293800,35.293800,35.293800,35.293800,0,0,0
2008-12-04,35.122101,35.122101,35.122101,35.122101,0,0,0
...,...,...,...,...,...,...,...
2021-08-06,117.400002,118.589996,116.910004,118.239998,5131706,0,0
2021-08-09,117.400002,118.919998,116.910004,118.139999,6105641,0,0
2021-08-10,118.500000,118.820000,117.389999,117.570000,5886641,0,0
2021-08-11,117.489998,118.080002,116.180000,117.260002,5935025,0,0
2021-08-12,117.290001,117.290001,115.879997,116.559998,2460789,0,0

In [4]:
from docplex.mp.model import Model

In [5]:
m = Model(name='unit allocation')

In [6]:
foldyphone = m.continuous_var(name='foldyphone')
tinyphone = m.continuous_var(name='tinyphone')

foldyphonetime = 1.5
tinyphonetime = 2

In [7]:
foldyphoneprod = m.add_constraint(foldyphone >= 500)
tinyphoneprod = m.add_constraint(tinyphone >= 200)
totalprod = m.add_constraint(m.sum([tinyphone*tinyphonetime, foldyphone*foldyphonetime]) <= 2999.5)

In [8]:
m.maximize(foldyphone*900 + tinyphone*1100)

In [9]:
sol = m.solve()

In [10]:
sol.display()

solution for: unit allocation
objective: 1779700.000
foldyphone = 1733.000
tinyphone = 200.000

In [11]:
tinyphone.solution_value

200.0

In [12]:
foldyphone.solution_value

1733.0

# Otimização de portfólio de investimentos

## Modelo

### Variáveis

### Restrições

### Função objetivo